[Unit]
Description=Fancontrol

[Service]
ExecStart=/mnt/ssd/storage/terramaster-fancontrol/fancontrol --drive_list="sda,sdb,sdc,sdd" --setpoint=37 --debug=1 --kp=50.0 --ki=0.5 --kd=0 --imax=300 --graphite_server=10.25.9.5:2003
Restart=on-failure

[Install]
WantedBy=multi-user.target
